@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html,
body {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Lato', Arial, Helvetica, sans-serif;
	background: url('../images/background.svg') fixed no-repeat;
	/* background: black; */
	background-size: 100%;
}

/* * {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
} */

em {
	color: gold;
}
